.header{
    display: flex;
    justify-content: space-between;
    border: 1 solid black;
}

.logo{
    width: 200px;
    margin: 5px;
}

.nav-items{
    margin: 20 px;
}
.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style: none;
   

}
.nav-items > ul > li {
padding: 10px;
margin: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.res-card{
    padding: 10px;
    width: 200px;
    margin:10px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.search{
    padding: 12px;
}
.res-logo{
   
    width: 200px;
    height: 150px;
    border: 1px;
}
.filter-btn{
    margin: 10px;
    color: black;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    padding: 10px;
    width: 200px;
    height: 300px;
    margin:10px;
    background-color: #f0f0f0;
}

.login{
    padding: 10px;
    width: 100px;
    margin:auto;
    margin-right: 20px;
}

.shimmer-btn{
    margin: 10px;
    width: 200px;
    height:20px;
    color: black;
  
}